__pycache__
/*.egg-info
/venv
*.pyc
*.swp
/build
/debian/.debhelper/
/debian/.tmk/
/debian/changelog
/debian/debhelper-build-stamp
/debian/files
/debian/rocketleaderboard.debhelper.log
debian/rocketleaderboard.postrm.debhelper
/debian/rocketleaderboard.substvars
/debian/rocketleaderboard/
/debian/venv/
/node_modules
