# aiohttp
lib/aiohttp-3.11.11-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
lib/aiohttp_cache-4.0.1-py3-none-any.whl
lib/aiohttp_cors-0.7.0-py3-none-any.whl

# playwright
lib/playwright-1.49.1-py3-none-manylinux1_x86_64.whl

# strawberry-graphql
lib/strawberry_graphql-0.256.1-py3-none-any.whl
