[Unit]
Description=Rocketleague Leaderboard

# Define execution environment
[Service]
User=rocketeer
UMask=0027
Restart=always
LimitNOFILE=65535
EnvironmentFile=-/etc/default/system
ExecReload=/bin/kill -SIGHUP $MAINPID

# Start the shedtools process
ExecStart=/opt/rocketleaderboard/bin/rocketleaderboard $ROCKETLEADERBOARD_FLAGS

# Clearly log when the shedtools process has begun execution
ExecStartPost=/bin/echo "rocketleaderboard process has begun execution"

# Always start at boot. Comment if service is configured to start with pacemaker.
[Install]
WantedBy=multi-user.target

